/* ########## H T M L ########## */

html {
  height: 100% !important;
  width: 100% !important;
}

/* ########## B O D Y ########## */

body {
  background-color: #d8e2dc !important;
  font-family: "Sansita Swashed", cursive !important;
  height: 100% !important;
  width: 100% !important;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

/* ########## T I T L E S - O F - P A G E S ########## */

.title {
  font-size: 75px;
  margin: 10px;
  padding: 5px;
  color: #191919;
  text-shadow: 2px 2px 1px azure;
  font-family: "Sansita Swashed", cursive;
}

/* ########## B U T T O N S ########## */

.button {
  background-color: #f28482 !important;
  color: #f7ede2;
  font-weight: bolder;
  font-family: "Sansita Swashed", cursive !important;
}

.button:hover {
  color: #f5cac3 !important;
}

.show-page-buttons {
  background-color: #f6bd60 !important;
  color: #f7ede2;
  margin: 2px;
  font-family: "Sansita Swashed", cursive;
}

.show-page-buttons:hover {
  color: #f5cac3 !important;
}

/* ########## I M A G E S ########## */

.picture {
  height: 600px;
  width: 600px;
  border: 10px #ffe5d9;
  border-style: groove;
  margin: 10px;
}

.namez {
  font-size: 25px;
  text-shadow: 2px 2px 2px #191919;
}

/* ########## H E A D E R ########## */

.jumbotron.jumbotron-fluid {
  background-color: #f4acb7;
  color: azure;
  text-shadow: 3px 3px 2px black;
  padding: 3rem;
  font-family: "Sansita Swashed", cursive;
}

.display-3 {
  font-size: 150px !important;
}

.goodStretch {
  display: flex;
  justify-content: center;
}

.lead {
  font-size: 30px !important;
}

.leftCat {
  display: flex !important;
  justify-content: left !important;
  height: 220px;
  width: 225px;
}

.rightCat {
  display: flex !important;
  justify-content: left !important;
  height: 220px;
  width: 225px;
}

/* ########## N A V - B A R ########## */

nav.navbar.navbar-light {
  text-align: right;
  font-size: 30px;
}

.butts {
  background-image: url("./assets/poop.png") !important;
}

.mr-auto {
  background-image: url("./assets/poop.png") !important;
}

.mr-2 {
  background-image: url("./assets/poop.png") !important;
}
.navbar-light .navbar-toggler {
  border: 1.5px solid #f7ede2 !important;
}

button.mr-2.navbar-toggler:hover {
  text-align: right;
  color: #f5cac3 !important;
}

.navbar-nav .nav-link {
  color: #f7ede2 !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #f5cac3 !important;
}

/* ########## L I N K S ########## */

a:hover {
  color: #f5cac3 !important;
}

a:visited {
  color: #f7ede2;
}

/* ########## H O M E ########## */

#home-body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  height: 80vh;
}

.nav {
  display: flex;
  text-align: right;
  justify-content: right;
  padding: 0px 25px 0px 25px !important;
}

/* ########## C A T - I N D E X ########## */

.btn.btn-secondary {
  background-image: url("./assets/sleepy.png");
  background-size: cover;
  font-weight: bolder;
  font-size: 20px;
  margin: 10px;
  padding: 15px;
  margin-bottom: 10rem;
  width: 300px;
  height: 295px;
  font-family: "Sansita Swashed", cursive;
  color: #f4acb7;
  text-shadow: 2px 2px 1px black;
}

#index-body {
  background-color: #f7ede2;
  text-align: center;
}

#button-set {
  display: flex;
  justify-content: space-around;
}

/* ########## S H O W - C A T ########## */

#show-body {
  height: 100%;
  width: 100%;
  /* background-color: black; */
}

#cat-card {
  padding: 35px;
  /* background-color: black; */
  width: 70vw;
  height: 80vh;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 25px;
}

.allTheLikes {
  background-color: #ffcad4;
  border: transparent;
}

.close-image {
  border: transparent;
  width: 10vw;
  height: 20vh;
}

div.card {
  text-align: center;
  align-items: center;
  background-color: #ffe5d9;
  margin-bottom: 50px;
  font-family: "Grandstander", cursive;
}

/* ########## N E W - C A T ########## */

#new-body {
  background-color: #ffe5d9;
  height: 100vh;
  text-align: center;
  font-family: "Sansita Swashed", cursive;
}

.form-input {
  width: 50% !important;
  margin: 0 auto;
}

#love {
  background-image: url("./assets/likeMe.png");
  background-size: cover;
}

/* ########## N O T - F O U N D ########## */

#errorBody {
  text-align: center;
  margin-bottom: 40px;
}

/* ########## F O O T E R ########## */

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #f4acb7;
  font-family: "Sansita Swashed", cursive;
}

/* ########## P H O N E - B R E A K P O I N T ########## */
@media (max-width: 480px) {
  .picture {
    margin: 10px;
    max-width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #index-body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #cat-card {
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
  }

  a.btn.btn-secondary {
    background-color: #f28482;
    font-weight: bold;
    margin: 10px;
    padding: 30px;
  }
}
